<!DOCTYPE html>
<html>
<head>
  <title>Media Decisión! - Compara universidades en Chile usando datos públicos.</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  <script type="text/javascript" src="/fancybox/jquery.easing-1.3.pack.js"></script>
  <script type="text/javascript" src="/jquery.qtip.js"></script> 
  <link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script>

$(document).ready(function() {

    $('table thead th[title]').qtip({
       show: 'mouseover',
       hide: 'mouseout'
    })
    
	/* This is basic - uses default settings */
	
	$("a.fancy_box").fancybox({
		'transitionIn'	:	'elastic',
		'transitionOut'	:	'elastic',
		'speedIn'		:	600, 
		'speedOut'		:	200, 
		'overlayShow'	:	false
	});

});
</script>
</body>
</html>
